
.borrowButton {
    opacity: 0.5;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
    width: 230px;
    height: 200px;
    cursor: pointer;
    display:inline-block;
    
}
.button-container {
    opacity: 1;
    margin: 10px 10px;
    padding:10px;
    font-size: 20px;
    
}
.searchButton{
    opacity: 0.5;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
    width: 230px;
    height: 200px;
    cursor: pointer;
    display:inline-block;
    margin: 0px 20px;
    
}

.registerButton{
    opacity: 0.5;
    background-color: lightgrey;
    text-align: center;
    text-decoration:none;
    width: 230px;
    height: 200px;
    cursor: pointer;
    display:inline-block;
}
body{
    background-image: url('https://scitechdaily.com/images/3D-Printer.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;

}
.h1{
    
    color:white;
    text-align: center;
    font-size: 40px;
}