  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightblue;
    padding: 10px;
  }
  .button {
    background-color: lightgray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: black;
    padding: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover {background-color: lightgray}
  
  .button:active {
    background-color: lightgray;
    box-shadow: 0 5px lightgray;
    transform: translateY(4px);
  }
